@tailwind base;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #0193fb;
  --bgPrimary: #013255;
  --bgSecondary: #012239;
}
@tailwind components;

@tailwind utilities;
